---
---

<main>
	<div id="loading-screen"><p>loading...</p></div>
	<canvas id="canvas"></canvas>
	<div
		id="joystick-area"
		class="fixed inset-0"
	>
		<div
			id="joystick-current"
			class="pointer-events-none absolute -bottom-6 -left-6 size-12 rounded-full bg-red-500 opacity-0 transition-opacity"
		></div>
		<div
			id="joystick-origin"
			class="pointer-events-none absolute -bottom-6 -left-6 size-12 rounded-full bg-blue-500 opacity-0 transition-opacity"
		></div>
	</div>
</main>

<script>
	import { main } from '../lib/main.ts';

	const canvas = document.getElementById('canvas') as HTMLCanvasElement;

	main(canvas);
</script>

<style>
	body {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	#loading-screen {
		position: fixed;
		inset: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(17, 18, 43, 0.8);
		color: white;
		font-size: min(70vh, 5vw);
	}
</style>
